body {
    margin: 0;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
h1 {
    margin-top: 0;
    font-family: 'Cinzel', serif;
    font-size:90px;
    color:#f56a79;
}
h2,h3{
    font-family: 'Permanent Marker', cursive;
    color:#00587a;
}
h2{
    font-size: 40px;
}
.container-top {
    position: relative;
    padding-top: 100px;
    background-color: #d9ecf2;
}
.container-top h2 span{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    top: 50px;
    right: 300px;
}
.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.profile{
    width: 30%;
    margin: 0 auto;
    padding: 100px 0; 
}
.profile p {
    line-height: 2;
}
.profile img{
    width: 50%;
}
.skills{
    padding-top: 100px;
    line-height: 2;
}
.skill-row{
    text-align: left;
    width: 50%;
    margin: 100px auto;
}
.skill-photo1{
    float: left;
    margin-right: 20px;
}
.skill-photo2{
    float: right;
    margin-left: 20px;
}
.contact-me{
    width:40%;
    margin: 100px auto;
    line-height: 2;
}
a{
    text-decoration: none;
}
.contact-me .btn{
    background-color: #00587a;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 50px;
}
.container-bottom{
    padding: 50px 0;
    background-color:#f56a79;
}
.container-bottom a{
    font-size: 20px;
    margin: 0 15px;
    color:#d9ecf2;
}
.container-bottom p{
    color: white;
    margin-top: 50px;
}